// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn-new-article {
    position: fixed;
    right: 100px;
    bottom: 100px;
}
